<header fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="search-wrapper">
    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>search</mat-icon>
      <input [formControl]="searchInput" placeholder="Search">
      <mat-icon 
        *ngIf="searchInput.value && searchInput.value !== ''" 
        class="clear-search" 
        (click)="clearSearch()" 
        title="Clear">
        close
      </mat-icon>
    </div>
  </div>
  <mat-icon class="clickable white">settings</mat-icon>
</header>

<div class="entries" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="10px">
  <div 
    fxFlex
    class="entry" 
    [ngClass]="entry.type" *ngFor="let entry of entries; trackBy: trackById; let idx = index;"
    (mouseenter.silent)="onMouseEnter($event, entry)"
    (mouseleave.silent)="onMouseLeave($event, entry)">
    <div class="bg" [ngStyle]="{'background': getBgUrl(entry)}"></div>
    <div class="fg">
      <div class="wrapper">
        <mat-icon class="clickable">add</mat-icon>
        <mat-icon class="clickable play">play_circle</mat-icon>
        <mat-icon class="clickable">more_horiz</mat-icon>
      </div>
    </div>
  </div>
</div>