<header fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
  <div class="search-wrapper">
    <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <mat-icon>search</mat-icon>
      <input [formControl]="searchInput" placeholder="Search">
      <mat-icon
        *ngIf="searchInput.value && searchInput.value !== ''"
        class="clear-search"
        (click)="clearSearch()"
        title="Clear">
        close
      </mat-icon>
    </div>
  </div>
  <mat-icon class="clickable white" title="Settings" (click)="openSettings()">settings</mat-icon>
</header>

<div class="entries" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="10px">
  <div
    fxFlex
    class="entry"
    [class.lastOfRow]="(idx + 1) % 4 === 0"
    [class.playing]="inPlaybackTrackId === entry.track?.id"
    [ngClass]="entry.type" *ngFor="let entry of entries; trackBy: trackById; let idx = index;"
    (mouseenter.silent)="onMouseEnter($event, entry)"
    (mouseleave.silent)="onMouseLeave($event, entry)">
    <div class="bg" [ngStyle]="{'background': getBgUrl(entry)}"></div>
    <div class="title">{{ entry.track.name }}</div>
    <div class="fg">
      <div class="wrapper">
        <ng-container *ngIf="entry.track.downloaded">
          <mat-icon class="clickable">add</mat-icon>
          <mat-icon class="clickable play" (click)="playback(entry)">play_circle</mat-icon>
          <mat-icon class="clickable stop" (click)="stop(entry)">stop</mat-icon>
          <mat-icon class="clickable">more_horiz</mat-icon>
        </ng-container>
        <ng-container *ngIf="!entry.track.downloaded">
          <div class="progress-container">
            <div class="spinner-container">
              <span>{{ entry.track.downloadProgress }}%</span>
              <mat-progress-spinner mode="determinate" [value]="entry.track.downloadProgress"></mat-progress-spinner>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
