<div class="player" fxLayout="row" fxLayoutGap="12px" [hidden]="!track">
  <ng-container *ngIf="track">
    <div class="name" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
      <img [src]="trackCover" />
      <div class="label" fxLayout="column" fxLayoutGap="3px">
        <span class="title">{{ track.name }}</span>
        <span class="author">{{ track.author }}</span>
      </div>
    </div>
    <div class="controls" fxFlex fxLayout="column">
      <div class="btns" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="12px">
        <mat-icon class="shuffle clickable" title="Shuffle" (click)="shuffle()">shuffle</mat-icon>
        <mat-icon class="prew clickable" title="Previous track" (click)="prev()">skip_previous</mat-icon>
        <mat-icon class="play clickable" title="Play" [class.disabled]="!isReady()" (click)="play()" *ngIf="!isPlaying">play_arrow</mat-icon>
        <mat-icon class="stop clickable" title="Stop" (click)="stop()" *ngIf="isPlaying">stop</mat-icon>
        <mat-icon class="next clickable" title="Next track" (click)="next()">skip_next</mat-icon>
        <mat-icon class="replay clickable" title="Replay" (click)="replay()">replay</mat-icon>
      </div>
      <div class="time" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <div class="duration">
          {{ elapsedTime > 3600 ? (elapsedTime * 1000 | date: 'HH:mm:ss' : 'UTC') : (elapsedTime * 1000 | date: 'mm:ss') }}
        </div>
        <mat-progress-bar [mode]="isReady() ? 'determinate' : 'indeterminate'" [value]="elapsedTimeProgress" color="warn">
        </mat-progress-bar>
        <div class="duration">
          {{ duration > 3600 ? (duration * 1000 | date: 'HH:mm:ss' : 'UTC') : (duration * 1000 | date: 'mm:ss') }}
        </div>
      </div>
    </div>
    <div class="volume" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
      <mat-icon>{{ volume === 0 ? 'volume_off' : 'volume_up' }}</mat-icon>
      <mat-slider
        [max]="1"
        [min]="0"
        [step]="0.1"
        [tickInterval]="0.1"
        [value]="volume"
        (input)="changeVolume($event)"
        [vertical]="false">
      </mat-slider>
    </div>
    <mat-icon class="close-player clickable" (click)="closePlayer()">close</mat-icon>
  </ng-container>
</div>
