
body {
  &.fullscreen {
    audio-player {
      .player {
        width: 100%;
        max-width: calc(100% - 250px - 32px);
        left: 250px;
        transform: none;
        margin: 0 16px;

        &[view="playlist"] {
          max-width: calc(100% - 250px) !important;
          border-radius: unset;
          bottom: 0px;
          margin: 0;
          background: transparent;
        }
      }
    }
  }

  &:not(.fullscreen) {
    audio-player {
      .player {
        &[view="playlist"] {
          width: 100%;
          border-radius: unset;
          bottom: 0px;
          margin: 0;
          background: transparent;
        }
      }
    }
  }
}

@keyframes player-slide-up {
  0% {
    height: 0;
    opacity: 0;
  }
  25% {
    height: 96px;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

audio-player {
  .player {
    width: calc(100% - 32px);
    max-width: calc(1024px - 32px);
    display: flex;
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    border: 0;
    bottom: 10px;
    align-items: center;
    border-radius: 12px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    box-sizing: border-box;
    z-index: 9999;
    color: #fff;
    transition: all .5s ease-in-out;

    &:not([hidden]) {
      animation: 0.5s player-slide-up;
      height: 96px;
    }

    .close-player {
      margin-right: -10px;
      align-self: flex-start;
    }

    .name {
      max-width: 300px;
      width: 300px;

      img {
        height: 70px;
        width: 70px;
        border-radius: 8px;
        object-fit: cover;
      }

      .label {
        font-size: 0.75rem;

        .author {
          font-weight: 100;
        }
      }
    }

    .controls {
      .btns {
        margin-bottom: 12px;
      }
    }

    .volume {
      .mat-slider {
        .mat-slider-track-wrapper {
          background: #fff;
        }

        &:not(.mat-slider.sliding) {
          .mat-slider-thumb, .mat-slider-thumb-label {
            background-color: #fff;
          }
        }
      }
    }
  }
}
