<header fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="10px">
  <mat-icon class="clickable white" title="Open left menu" (click)="drawer.toggle()" *ngIf="mobileQuery.matches">menu</mat-icon>
  <div class="input-wrapper paste" #pasteWrapper *ngIf="!isClipboardWatchEnabled">
    <div class="input" fxFlex fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="clickable" (click)="addToDownload()" title="Download from clipboard">content_paste</mat-icon>
      <input
        #pasteInput
        [formControl]="urlInput"
        placeholder="{{ 'HOME.PASTE_TRACK_URL' | translate }}"
        (focus.silent)="pasteWrapper.classList.add('focused')"
        (blur.silent)="pasteWrapper.classList.remove('focused')"
        (keydown.enter)="addToDownload()"
      />
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px" fxFlex>
    <div class="input-wrapper">
      <div class="input" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>search</mat-icon>
        <input #searchNativeInput [formControl]="searchInput" placeholder="{{ 'HOME.SEARCH' | translate }}">
        <mat-icon
          *ngIf="searchInput.value && searchInput.value !== ''"
          class="clear-search"
          (click)="clearSearch($event)"
          title="{{ 'HOME.CLOSE' | translate }}">
          close
        </mat-icon>
      </div>
    </div>
    <mat-icon class="clickable white" title="Settings" (click)="openSettings()">settings</mat-icon>
    <mat-icon
      class="clickable white"
      title="{{ 'HOME.NEW_UPDATE_AVAILABLE' | translate }}"
      matBadge="*"
      matBadgePosition="after"
      matBadgeOverlap="false"
      matBadgeSize="small"
      (click)="openUpdate()"
      *ngIf="newUpdateInfo">update</mat-icon>
      <mat-icon class="clickable white" svgIcon="qrcode_scan" title="Qrcode" (click)="openSettings('public_server')" *ngIf="isNgrokRunning"></mat-icon>
  </div>

  <language-switcher></language-switcher>
</header>

<mat-drawer-container class="left-sidenav" [hasBackdrop]="mobileQuery.matches">
  <mat-drawer [autoFocus]="false" [opened]="!mobileQuery.matches" #drawer [mode]="mobileQuery.matches ? 'over' : 'side'">
    <div class="offline-playlists">
      <div class="title" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
        <mat-icon>queue_music</mat-icon>
        <span fxFlex>{{ 'HOME.PLAYLISTS.LABEL' | translate }}</span>
        <span>({{ offlinePlaylists.length }})</span>
      </div>
      <hr />
      <div class="playlists" fxLayout="column" fxLayoutGap="8px">
        <div class="playlist" [class.playing]="isPlaylistDetailOpen(p)" fxLayout="column" fxLayoutGap="8px" *ngFor="let p of offlinePlaylists">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <span class="name clickable" fxFlex>
              {{ p.name }} ({{ p.tracksIds?.length || 0 }})
            </span>
            <span class="actions" fxLayout="row" fxLayoutGap="4px">
              <mat-icon class="clickable" title="{{ 'HOME.PLAYLISTS.PLAYBACK' | translate }}" (click)="playbackPlaylist(p)" *ngIf="!isPlaylistDetailOpen(p) || !isPlaylistInPlayback">play_circle_filled</mat-icon>
              <mat-icon class="clickable" title="{{ 'HOME.PLAYLISTS.PAUSE' | translate }}" (click)="stopPlaylist(p)" *ngIf="isPlaylistDetailOpen(p) && isPlaylistInPlayback">pause</mat-icon>
              <mat-icon class="clickable" title="{{ 'HOME.PLAYLISTS.EXPORT' | translate }}" (click)="exportPlaylist(p)">folder</mat-icon>
              <mat-icon class="clickable" title="{{ 'HOME.PLAYLISTS.REMOVE' | translate }}" (click)="removePlaylist(p)">delete</mat-icon>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" fxLayout="column" fxLayoutGap="4px" fxLayoutAlign="start center">
      <qr-code [value]="qrCodeData" size="100" errorCorrectionLevel="M" *ngIf="isNgrokRunning"></qr-code>
      <mat-icon svgIcon="github" class="clickable" (click)="openGithubProfile()"></mat-icon>
      <div class="version clickable" (click)="openReleasePage()">{{ appVersion }}</div>
      <div>Made with ❤️ by marcio199226</div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet (activate)="onRouterOutletActivate($event)" (deactivate)="onRouterOutletDeactivate($event)"></router-outlet>
    <div class="entries" fxLayout="row wrap" fxLayoutAlign="center start" fxLayoutGap="10px" *ngIf="!isOpenedOfflinePlaylist">
      <mat-menu #menu="matMenu">
        <ng-template matMenuContent let-entry="entry" let-idx="idx">
          <button mat-menu-item (click)="remove(entry, idx)">
            <mat-icon>delete</mat-icon>
            {{ ('HOME.REMOVE.' + entry.type.toUpperCase()) | translate }}
          </button>
          <button mat-menu-item (click)="startDownload(entry)" *ngIf="entry.track.status === 'failed'">
            <mat-icon>file_download</mat-icon>
            Download
          </button>
          <button mat-menu-item (click)="convertTrack(entry)" *ngIf="entry.track.converting.status === 'failed'">
            <mat-icon>file_download</mat-icon>
            Convert to mp3
          </button>
          <button mat-menu-item (click)="openInYt(entry.track.url)">
            <mat-icon>open_in_browser</mat-icon>
            {{ 'HOME.OPEN_ON_YT' | translate }}
          </button>
        </ng-template>
      </mat-menu>
      <div
        fxFlex
        class="entry"
        [class.lastOfRow]="(idx + 1) % 4 === 0"
        [class.playing]="inPlaybackTrackId === entry.track?.id"
        [class.downloading]="entry.track.status === 'downloading'"
        [class.converting]="['converting', 'queued'].indexOf(entry.track.converting.status) > -1"
        [ngClass]="entry.type"
        *ngFor="let entry of filteredEntries; trackBy: trackById; let idx = index;"
        (mouseenter.silent)="onMouseEnter($event, entry)"
        (mouseleave.silent)="onMouseLeave($event, entry)">
        <div class="bg" [ngStyle]="{'background': getBgUrl(entry)}"></div>
        <div class="title">{{ entry.type === 'track' ? entry.track.name : entry.playlist.name }}</div>
        <div class="errors" *ngIf="entry.track.status === 'failed' || entry.track.converting.status === 'failed'">
          <mat-icon
            svgIcon="download_failed"
            [matTooltip]="entry.track.statusError">
            error
          </mat-icon>
          <mat-icon [matTooltip]="entry.track.converting.error">
            error
          </mat-icon>
        </div>
        <div class="fg">
          <div class="wrapper">
            <ng-container *ngIf="entry.track.status === 'downloaded' && ['converting', 'queued'].indexOf(entry.track.converting.status) === -1">
              <mat-icon class="clickable" title="{{ 'HOME.PLAYLISTS.ADD_TRACK' | translate }}" (click)="addToPlaylist(entry)">playlist_add</mat-icon>
              <mat-icon class="clickable play" (click)="playback(entry)" title="{{ 'PLAYER.PLAY' | translate }}">play_circle_filled</mat-icon>
              <mat-icon class="clickable stop" (click)="stop(entry)" title="{{ 'PLAYER.STOP' | translate }}">stop</mat-icon>
              <mat-icon class="clickable"
                [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{entry, idx}"
                (menuOpened)="menuOpened()"
                (menuClosed)="menuClosed()"
                title="More">
                more_horiz
              </mat-icon>
            </ng-container>
            <ng-container *ngIf="entry.track.status === 'failed'">
              <mat-icon class="clickable m-auto"
                [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{entry}"
                (menuOpened)="menuOpened()"
                (menuClosed)="menuClosed()">
                more_horiz
              </mat-icon>
            </ng-container>
            <ng-container *ngIf="entry.track.status === 'processing'">
              <mat-icon class="clickable m-auto" title="{{ 'HOME.START_DOWNLOAD_TRACK' | translate }}" (click)="startDownload(entry)">
                file_download
              </mat-icon>
            </ng-container>
            <ng-container *ngIf="entry.track.status === 'downloading'">
              <div class="progress-container">
                <div class="spinner-container">
                  <span>{{ entry.track.downloadProgress }}%</span>
                  <mat-progress-spinner mode="determinate" [value]="entry.track.downloadProgress"></mat-progress-spinner>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="entry.track.converting.status === 'converting'">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px" fxFlex>
                <span>{{ 'HOME.CONVERTING_MP3' | translate }}</span>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </ng-container>
            <ng-container *ngIf="entry.track.converting.status === 'queued'">
              <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px" fxFlex>
                <span>{{ 'HOME.WAITING_TO_CONVERT_MP3' | translate }}</span>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div *ngIf="!isSearching && !filteredEntries.length">
        {{ 'HOME.NO_DOWNLOAED_TRACKS' | translate }}
      </div>
      <div *ngIf="isSearching && !filteredEntries.length">
        {{ 'HOME.NO_SEARCH_RESULTS' | translate }}
      </div>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
