settings {
  [mat-dialog-content] {
    padding: 0px 16px;
    margin: 0;
  }

  [mat-dialog-actions] {
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 8px 16px;
  }
}

.settings-dialog {
  .mat-dialog-container {
    background: url("http://localhost:8080/static/frontend/dist/assets/bg.png");
    background-repeat: no-repeat;

    .mat-toolbar {
      background: transparent;
    }

    .mat-tab-group {
      .mat-tab-body {
        margin-top: 10px;
        max-height: 450px;
      }

      .mat-tab-label {
        color: white;
        opacity: 1;
        flex: 1;

        .mat-icon {
          margin-right: 4px;
        }
      }
    }

    .open-link {
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }

    .at {
      font-weight: bold;
      padding-right: 8px;
    }

    .toggle-wrapper {
      margin-left: 46px;

      .mat-slide-toggle {
        margin-left: -46px;
      }

      .warning {
        font-weight: bold;
      }
    }

    // public server settings tabs
    .public-server {

      .auth {
        .mat-form-field {
          .mat-form-field-infix {
            width: auto;
          }
        }
      }

      .api-key {
        width: 100%;
      }

      .mobile-app, .share-url {
        margin-top: 6px;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
