settings {
  [mat-dialog-content] {
    padding: 0px 16px;
    margin: 0;
  }

  [mat-dialog-actions] {
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 8px 16px;
  }
}

.settings-dialog {
  .mat-dialog-container {
    background: url("http://localhost:8080/static/frontend/dist/assets/bg.png");
    background-repeat: no-repeat;

    .mat-toolbar {
      background: transparent;
    }

    .toggle-wrapper {
      .warning {
        font-weight: bold;
        padding-left: 44px;
      }
    }
  }
}
