<div class="dialog-content-wrapper">
  <mat-toolbar>
    <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">
        {{ 'UPDATER.TITLE' | translate }}
      </span>
      <button mat-icon-button (click)="close()" >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content fxLayout="column" fxLayoutGap="12px">
    <div class="desc" innerHTML="{{ 'UPDATER.DESC' | translate: { version: data.release.Version, oldVersion: data.oldVersion } }}"></div>
    <ul class="assets" *ngFor="let asset of data.release.Assets">
      <li (click)="updateManually(asset.Url)" title="{{ 'UPDATER.DOWNLOAD_MANUALLY_TITLE' | translate }}">
        <span [innerHTML]="'UPDATER.DOWNLOAD_LINK' | translate: { name: asset.Name }"></span>
      </li>
    </ul>
    <pre>
      {{ data.release.Changelog }}
    </pre>
  </div>
  <div mat-dialog-actions>
    <!-- <button mat-flat-button color="primary" (click)="updateAndRestart()">{{ 'UPDATER.UPDATE_AND_RESTART_BTN' | translate }}</button> -->
    <button mat-flat-button color="primary" (click)="updateAndReplace()">
      {{ 'UPDATER.UPDATE_BTN' | translate }}
    </button>
    <button mat-flat-button color="primary" (click)="close()">
      {{ 'UPDATER.LATER_BTN' | translate }}
    </button>
  </div>
</div>
