html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: url("http://localhost:8080/static/frontend/dist/assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
  overflow: hidden;

  &.player-visible {
    .mat-snack-bar-container {
      margin-bottom: 120px;
    }
  }

  &.loading {
    app-home {
      display: block;
      width: 100%;
      height: 100%;
      filter: blur(2px);
    }
  }
}

.clickable {
  cursor: pointer;
}

.capitalize {
  text-transform: capitalize;
}

[hidden] {
  display: none !important;
}

// mat-dialogs

.with-header-dialog {
  .mat-dialog-container {
    padding: 0;
    border-radius: 16px;
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }

  [mat-dialog-content] {
    padding: 0px 16px;
    margin: 0;
  }

  [mat-dialog-actions] {
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 8px 16px;
  }

  .mat-toolbar {
    .mat-form-field {
      .mat-hint {
        color: #fff;
      }
    }
  }
}

.blurred-backdrop-bg {
  display: block;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background: rgba(44,62,80, 0.5);
}

.m-auto {
  margin: 0 auto;
}

.mat-snack-bar-container {
  max-width: 66vw !important;

  &.success {
    background: #4caf50 !important;
    color: #fff !important;
    border-left: 8px solid #2e7d32;

    button {
      color: #000;
      background: #fff;
    }
  }

  &.error {
    background: #ef5350 !important;
    color: #fff !important;
    border-left: 8px solid #b71c1c;

    button {
      color: #000;
      background: #fff;
    }
  }

  &.info {
    background: #b3e5fc !important;
    color: #000 !important;
    border-left: 8px solid #03a9f4;

    button {
      color: #fff;
      background: #000;
    }
  }

  &.warning {
    background: #ffecb3 !important;
    color: #000 !important;
    border-left: 8px solid #ffc107;

    button {
      color: #fff;
      background: #000;
    }
  }
}

.mat-form-field {
  &.mat-form-field-disabled {
    cursor: not-allowed;
  }
}

.box {
  padding: 8px 16px;
  border-radius: 4px;

  &.success {
    background: #4caf50 !important;
    color: #fff !important;
    border-left: 8px solid #2e7d32;

    button {
      margin-left: 6px;
      color: #000;
      background: #fff;
    }
  }

  &.error {
    background: #ef5350 !important;
    color: #fff !important;
    border-left: 8px solid #b71c1c;

    button {
      margin-left: 6px;
      color: #000;
      background: #fff;
    }
  }

  &.info {
    background: #b3e5fc !important;
    color: #000 !important;
    border-left: 8px solid #03a9f4;

    button {
      margin-left: 6px;
      color: #fff;
      background: #000;
    }
  }

  &.warning {
    background: #ffecb3 !important;
    color: #000 !important;
    border-left: 8px solid #ffc107;

    button {
      margin-left: 6px;
      color: #fff;
      background: #000;
    }
  }
}
