html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
  background: url("http://localhost:8080/static/frontend/dist/assets/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
}

.clickable {
  cursor: pointer;
}

[hidden] {
  display: none !important;
}

.with-header-dialog {
  .mat-dialog-container {
    padding: 0;
    border-radius: 16px;
  }

  .dialog-content-wrapper {
    max-height: 85vh;
    display: flex;
    flex-direction: column;
  }

  .mat-toolbar {
    .mat-form-field {
      .mat-hint {
        color: #fff;
      }
    }
  }
}

.m-auto {
  margin: 0 auto;
}
